/* Navbar */

nav {
  font-family: "Nunito", sans-serif;
}

nav .navbar-nav a {
  color: #fff;
}
/* Navbar End */

.home {
  font-family: "Nunito", sans-serif;
}

.about {
  font-family: "Nunito", sans-serif;
}

.portofolio {
  font-family: "Nunito", sans-serif;
}

#contact {
  font-family: "Nunito", sans-serif;
}

#footer {
  font-family: "Nunito", sans-serif;
}
